.hero {
  max-width: 1440px;
  margin: 0 auto;
  &:first-child {
    margin-bottom: 80px;
  }

  &__container {
    position: relative;
  }
  &__img {
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  &__banner {
    position: relative;
    padding: 24px;
    background-color: #fff;
    border: 1px solid black;
  }

  &__animated-circle {
    position: absolute;
    bottom: -50px;
    right: 40px;
    img {
      width: 100px;
      animation: animated-circle 13s linear infinite;
    }
  }
}

@media screen and (min-width: 768.9px) {
  .hero {
    &__img {
      img {
        height: 350px;
        object-position: bottom;
      }
    }

    &__banner {
      padding: 40px;
    }
  }
}

@media screen and (min-width: 1280.9px) {
  .hero {
    padding-right: 40px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__img {
      display: inline-block;

      img {
        width: 800px;
        height: 600px;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    &__banner {
      max-width: 660px;
      border-radius: 4px;
      margin-left: -24px;
    }
  }
}

@media screen and (min-width: 1440.9px) {
  .hero {
    &__img {
      display: inline-block;

      img {
        width: max-content;
        max-width: 1100px;
        height: 600px;
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }
}

@keyframes animated-circle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
